.form-section{
    text-align: center;
}

.heading{
    font-size: 36px;
    font-weight: 700;
}

.form{
    max-width: 650px;
    background-color: #d999f7;
    padding: 2rem;
    border-radius: 10px;
    margin-inline: auto;
}

.form-content-wrapper{
    margin-bottom: 2rem;


    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.form-input{
    margin: 1rem;
}

.form-input label{
    margin-right: 5px;
    font-weight:600;
    font-size: 14px;
    color:rebeccapurple;
}
.form-input input{
    border-radius: 5px;
    border-style: none;
    padding: .5rem 1rem;
}


.form-input input:focus{
    outline: none;
}


.form-input textarea{
    border-radius: 5px;
    border-style: none;
    padding: .5rem 1rem;
}

.form-input textarea:focus{
    outline: none;
}

.btn{
    padding: .5rem 1.5rem;
    border: none;
    border-radius: 5px;
    font-weight: 900;
    color: #fff;
    font-size: 18px;
    /* color: #d999f7; */
    background-color: rebeccapurple;
}